In [1]:

import os
from nielsen_api_tools import nielsen_api
import requests
import pandas as pd
import numpy as np

from sqlalchemy import create_engine
pd.options.display.float_format = '{:,.0f}'.format

# pd.set_option("styler.format.thousands", ",")

In [3]:
# def db_connect(db_name="EMISales", host="uscmb-sql1.global.umusic.net", driver="SQL Server"):
#     return create_engine('mssql+pyodbc://@{}/{}?trusted_connection=yes&driver={}'.format(host, db_name, driver), fast_executemany=True).connect()

In [2]:
the_elements = nielsen_api()
tokens = the_elements.tokens

Logging in with username: serge.kamilchu@umusic.com

In [3]:
tokens

{'token_type': 'Bearer',
 'expires_in': 86400,
 'access_token': 'eyJraWQiOiJVM0hDbDd3Vmk0TnRGSldUV3N6LUEyS3VBUG91cEkteTVlSlE3NXdnckR3IiwiYWxnIjoiUlMyNTYifQ.eyJ2ZXIiOjEsImp0aSI6IkFULmhfTUdQQUdPWTR5ZGlNMF83azdYRWcxR21SWngtb05nZXF5TElQRVVmU2ciLCJpc3MiOiJodHRwczovL2xvZ2luLm1yYy1kYXRhLmNvbS9vYXV0aDIvYXVzMjI1cDIzckV1RHd3bEw0eDciLCJhdWQiOiJtY2FwaSIsImlhdCI6MTY2MjU2MzUzMywiZXhwIjoxNjYyNjQ5OTMzLCJjaWQiOiIwb2EyMm0zbW83N3NVTzVRUTR4NyIsInVpZCI6IjAwdTdpcjZ4NXhJdEp1QmhxNHg3Iiwic2NwIjpbIm9wZW5pZCJdLCJhdXRoX3RpbWUiOjE2NjI1NjM1MzMsInN1YiI6InNlcmdlLmthbWlsY2h1QHVtdXNpYy5jb20iLCJiZSI6IjExMjk0In0.WG-bvCNgDasuKaeqila_NqeRtVIIIsBc_uD6zOhYTUAIp-ZIVmHtZBa-KAMPaRlcwcWNjIx0WX3oi99z8ihlQn8jm_vfiJlDNf2vPbcUzYPt7qZyhhS-rG_nmT9AN399Tu5pc_mHwKEcI7XNa2Ck1dGaS7Zb-hwRaai4xR8-eHVBf2D-35yZkCcOc9LaYt8lslA7ikkZgTms0B9nut1IXn0BPX6DPj5J44RFMUEovnkGogrHjbGEYF8E_kVs4oTWtgfMKZhsyNX4VFT6Alcc-TUhpVlPQSwvCFR2y_e-Te8mFJKrd9m4Rs5UxnlmCQB8rElVwQETWsjGrN_GSLLfuw'}

In [ ]:
# isrc_result = the_elements.get_bulk_isrcs(input_ptf=r'C:\Users\KamilcS\OneDrive - Universal Music Group\projects\tobymac\isrc_codes.csv', week_id=201842)
# isrc_result = pd.read_csv('./data/mrc_elements_isrc_201842_w1_results.csv')


# with db_connect() as conn:
#     q = "SELECT  DISTINCT ISRC, LookupTitle FROM [dbo].[Inventory]  WHERE releaseid = 210894 ORDER BY LookupTitle"
#     isrc_inventory = (
#         pd.read_sql(q, con=conn)
#         .fillna(np.nan)
#         .dropna()
#         )

In [ ]:
# lookup_title_mapper = dict(zip(isrc_inventory['ISRC'].values, isrc_inventory['LookupTitle'].values))
# isrc_result['lookup_title'] = isrc_result['isrc'].map(lookup_title_mapper)

In [ ]:
# isrc_result_pivot = (
#     isrc_result.pivot_table(
#         index = ['lookup_title'], 
#         values= ['ses_ondemand','ses_ondemand_audio','digital_tracks','streaming_ondemand_total','streaming_ondemand_audio','streaming_ondemand_video','streaming_programmed_total'],
#         aggfunc=sum
#     )
#     .astype(float)
#     .reset_index()
#     )

# isrc_result_pivot

In [ ]:
# isrc_result_pivot[[
#     # 'ses_ondemand',	
#     # 'ses_ondemand_audio',	
#     # 'digital_tracks', 
#     'streaming_ondemand_audio',	
#     'streaming_ondemand_video']].sum(axis=1)
# # isrc_result_pivot['streaming_ondemand_total'].sum()

In [ ]:
# upc_result = the_elements.run_api_call(object_id='0602547135339', wk=201842)

In [ ]:
# upc_result_values_tp=pd.json_normalize(
#     upc_result.json()['metrics'],
#     ['value'],
#     meta = ['name'],
#     meta_prefix='value.'
#     ).query('name == "tp"').astype({'value': 'float'})

In [ ]:
# upc_result_values_tp.index = [0 for i in upc_result_values_tp.index]
# upc_result_values_tp.index

In [ ]:
# upc_result_values_tp.join(pd.json_normalize(
#     upc_result.json()
#     ).iloc[:, [0,1, 2, 3, 4, 5, 8]])

In [4]:
os.environ['NIELSEN_API_TOKEN']

'YdZUpwFLPeDu590wKigQkaEh24mrO24Jeh6HJ310'

In [6]:
def get_chart(chart_key):

    headers = {
                'Content-Type':'application/json',
                'Authorization': tokens['access_token'],
                'x-api-key': os.environ['NIELSEN_API_TOKEN'],
                'Accept':'application/vnd.mrc-data.chart.v1+json'
            }
            
    url = f'https://api.musicconnect.mrc-data.com/api/chart/data/{chart_key}'

    r = requests.post(url= url, headers=headers)
    

    if r.status_code == 200:

        df = pd.DataFrame([pd.Series(row) for row in r.json()])

        dict_for_df = {}

        for k, v in df.iteritems():
            # print(k)
            if k == 'title_id' or k == 'artist_id' or k == 'label':
                dict_for_df[k] = v
            if k == 'metrics':
                for i in v:
                    for k in i:
                        if not dict_for_df.__contains__(k['name']):
                            dict_for_df[k['name']] = [k['value']]
                        else:
                            dict_for_df[k['name']].append(k['value'])

        df = pd.DataFrame(dict_for_df).set_index(['artist_id', 'title_id', 'Song', 'Artist'])

        df.columns = pd.MultiIndex.from_product([[chart_key], df.columns])


        # print(df.shape)

        return df 

    print(f'{chart_key}: {r}')

In [7]:
# chart list header
headers = {
            'Content-Type':'application/json',
            'Authorization': tokens['access_token'],
            'x-api-key': os.environ['NIELSEN_API_TOKEN'],
            'Accept':'application/vnd.mrc-data.chart.v1.1+json'
        }

url = "https://api.musicconnect.mrc-data.com/api/chart/list?country=ALL"

r = requests.get(url= url, headers=headers)

df = pd.DataFrame([pd.Series(row) for row in r.json()])
df_christian_charts = df[df.chart_name.str.contains('Christian')]
df_christian_charts

,chart_name,chart_key,country,frequency,start_week_id,available_filters
53,Christian Airplay,CHRISTIANAIRPLAY,[US],weekly,201201,NaN
54,Christian Albums,CHRISTIANALBUMS,[CA],weekly,201201,NaN
55,Christian/Gospel On-Demand Audio Streaming (YTD),CHRISTIANGOSPELONDEMANDAUDIOSTREAMINGYTD,"[US, CA]",weekly,201201,NaN
56,Christian/Gospel On-Demand Audio Streaming (we...,CHRISTIANGOSPELONDEMANDAUDIOSTREAMINGWEEKLY,"[US, CA]",weekly,201201,NaN
57,Christian/Gospel On-Demand Overall Streaming (...,CHRISTIANGOSPELONDEMANDOVERALLSTREAMINGYTD,"[US, CA]",weekly,201201,NaN
58,Christian/Gospel On-Demand Overall Streaming (...,CHRISTIANGOSPELONDEMANDOVERALLSTREAMINGWEEKLY,"[US, CA]",weekly,201201,NaN
59,Christian/Gospel Songs Core Genre,CHRISTIANGOSPELSONGSCOREGENRE,"[US, CA]",weekly,201201,NaN
281,Top Christian/Gospel Albums,BILLBOARDTOPCHRISTIANGOSPELALBUMS,[US],weekly,201201,NaN

In [8]:
get_chart('CHRISTIANAIRPLAY')

                                                    CHRISTIANAIRPLAY       \
                                                               label Rank
artist_id title_id  Song            Artist
95309     155136170 Getting Started Jeremy Camp                 SPAR    1
85561     177826997 The Goodness    Tobymac                             2
125179    169459448 Me On Your Mind Matthew West                        3
27152647  174032566 How Far         Tasha Layton                        4
171521    150195130 Hymn Of Heaven  Phil Wickham                 COL    5
...                                                              ...  ...
112782    10025732  Serious         Joy Williams                REUN  197
57573172  158940140 God Of My Story Honor & Glory                     198
17243046  167481096 Courage         Justin Gambino                    198
17374394  153423878 You Know        Bethany Barnard                   200
45461     179394416 Child Of God    Mitch Langley                     200

                                                                             \
                                                    TP Spins +/- Chg. Spins
artist_id title_id  Song            Artist
95309     155136170 Getting Started Jeremy Camp         3128            119
85561     177826997 The Goodness    Tobymac             3044             48
125179    169459448 Me On Your Mind Matthew West        2834           -169
27152647  174032566 How Far         Tasha Layton        2864            344
171521    150195130 Hymn Of Heaven  Phil Wickham        2972            -40
...                                                      ...            ...
112782    10025732  Serious         Joy Williams           1            NaN
57573172  158940140 God Of My Story Honor & Glory          6             -2
17243046  167481096 Courage         Justin Gambino         2              0
17374394  153423878 You Know        Bethany Barnard        7              1
45461     179394416 Child Of God    Mitch Langley          1              0

                                                                            \
                                                    LP Spins Stations Adds
artist_id title_id  Song            Artist
95309     155136170 Getting Started Jeremy Camp        3,009    70/72    0
85561     177826997 The Goodness    Tobymac            2,996    71/72    0
125179    169459448 Me On Your Mind Matthew West       3,003    70/72    0
27152647  174032566 How Far         Tasha Layton       2,520    70/72    0
171521    150195130 Hymn Of Heaven  Phil Wickham       3,012    69/72    0
...                                                      ...      ...  ...
112782    10025732  Serious         Joy Williams         NaN     1/72    0
57573172  158940140 God Of My Story Honor & Glory          8     3/72    0
17243046  167481096 Courage         Justin Gambino         2     1/72    0
17374394  153423878 You Know        Bethany Barnard        6     1/72    0
45461     179394416 Child Of God    Mitch Langley          1     1/72    0

                                                                 \
                                                    TP Audience
artist_id title_id  Song            Artist
95309     155136170 Getting Started Jeremy Camp         8448200
85561     177826997 The Goodness    Tobymac             7982700
125179    169459448 Me On Your Mind Matthew West        7935900
27152647  174032566 How Far         Tasha Layton        7904900
171521    150195130 Hymn Of Heaven  Phil Wickham        7203400
...                                                         ...
112782    10025732  Serious         Joy Williams           4400
57573172  158940140 God Of My Story Honor & Glory          4300
17243046  167481096 Courage         Justin Gambino         4300
17374394  153423878 You Know        Bethany Barnard        4200
45461     179394416 Child Of God    Mitch Langley          4200

                                                                       \
                                                    +/- Chg. Audience
artist_id title_id  Song            Artist
95309     155136170 Getting Started Jeremy Camp               340,000
85561     177826997 The Goodness    Tobymac                   151,100
125179    169459448 Me On Your Mind Matthew West             -488,300
27152647  174032566 How Far         Tasha Layton            1,036,200
171521    150195130 Hymn Of Heaven  Phil Wickham              -32,800
...                                                               ...
112782    10025732  Serious         Joy Williams                  NaN
57573172  158940140 God Of My Story Honor & Glory              -7,800
17243046  167481096 Courage         Justin Gambino              3,100
17374394  153423878 You Know        Bethany Barnard               300
45461     179394416 Child Of God    Mitch Langley                 300


                                                    LP Audience TP Stream
artist_id title_id  Song            Artist
95309     155136170 Getting Started Jeremy Camp       8,108,200    898274
85561     177826997 The Goodness    Tobymac           7,831,600   1197087
125179    169459448 Me On Your Mind Matthew West      8,424,200    953440
27152647  174032566 How Far         Tasha Layton      6,868,700    489621
171521    150195130 Hymn Of Heaven  Phil Wickham      7,236,200   1092901
...                                                         ...       ...
112782    10025732  Serious         Joy Williams            NaN        48
57573172  158940140 God Of My Story Honor & Glory        12,100      1300
17243046  167481096 Courage         Justin Gambino        1,200       241
17374394  153423878 You Know        Bethany Barnard       3,900      8791
45461     179394416 Child Of God    Mitch Langley         3,900         0

[201 rows x 11 columns]

In [11]:
def get_data_by_song_id(song_id):

  # GET ARTIST META DATA BY Neilsen ID

  headers = {
    'Content-Type':'application/json',
    'Authorization': tokens['access_token'],
    'x-api-key': os.environ['NIELSEN_API_TOKEN'],
    # 'Accept':'application/vnd.mrc-data.chart.v1.1+json'
    }

  url = f"https://api.musicconnect.mrc-data.com/api/song/{song_id}/data"
  r = requests.post(
    url= url, 
    headers=headers, 
  )

In [18]:
r.json()['metrics']

[{'name': 'Song w/SES On-Demand',
  'value': [{'name': 'tp', 'value': 5451},
   {'name': 'lp', 'value': 6055},
   {'name': 'ytd', 'value': 66334},
   {'name': 'atd', 'value': 69066}]},
 {'name': 'Song w/SES On-Demand Audio',
  'value': [{'name': 'tp', 'value': 5274},
   {'name': 'lp', 'value': 5900},
   {'name': 'ytd', 'value': 64198},
   {'name': 'atd', 'value': 66841}]},
 {'name': 'Digital Tracks',
  'value': [{'name': 'tp', 'value': 542},
   {'name': 'lp', 'value': 394},
   {'name': 'ytd', 'value': 7010},
   {'name': 'atd', 'value': 7282}]},
 {'name': 'Streaming On-Demand Total',
  'value': [{'name': 'tp', 'value': 667363},
   {'name': 'lp', 'value': 760951},
   {'name': 'ytd', 'value': 8070238},
   {'name': 'atd', 'value': 8408876}]},
 {'name': 'Streaming On-Demand Audio',
  'value': [{'name': 'tp', 'value': 613442},
   {'name': 'lp', 'value': 712875},
   {'name': 'ytd', 'value': 7399138},
   {'name': 'atd', 'value': 7704308}]},
 {'name': 'Streaming On-Demand Video',
  'value': [{'name': 'tp', 'value': 53921},
   {'name': 'lp', 'value': 48076},
   {'name': 'ytd', 'value': 671100},
   {'name': 'atd', 'value': 704568}]}]

In [56]:
song_id_dict = {
    'top_level': [],
    'period': [],
    'value': []
}

for list_i in r.json()['metrics']:
    # print(list_i['name'])

    

    
    for i, list_k in enumerate(list_i['value']):
        # print(i, list_k)
        song_id_dict['top_level'].append(list_i['name'])

        for k, v in list_k.items():
            # print(k, v)
            
            if k == 'name':
                song_id_dict['period'].append(v)
            elif k == 'value':
                song_id_dict['value'].append(v)
            
            
            # song_id_dict['top_level'].append(list_i['name'])
            # song_id_dict['period'].append(k)
            # song_id_dict['value'].append(v)
        # print(list_k['tp'])

        # for k, v in list_k.items():
            # print(list_j['name'], list_j['value'])
            # print(v)

    # for k_0, v_0 in list_i.items():

    #     print(v_0)

In [59]:
pd.DataFrame(song_id_dict)

# for k, v in song_id_dict.items():
#     print(len(v))

                     top_level period    value
0         Song w/SES On-Demand     tp     5451
1         Song w/SES On-Demand     lp     6055
2         Song w/SES On-Demand    ytd    66334
3         Song w/SES On-Demand    atd    69066
4   Song w/SES On-Demand Audio     tp     5274
5   Song w/SES On-Demand Audio     lp     5900
6   Song w/SES On-Demand Audio    ytd    64198
7   Song w/SES On-Demand Audio    atd    66841
8               Digital Tracks     tp      542
9               Digital Tracks     lp      394
10              Digital Tracks    ytd     7010
11              Digital Tracks    atd     7282
12   Streaming On-Demand Total     tp   667363
13   Streaming On-Demand Total     lp   760951
14   Streaming On-Demand Total    ytd  8070238
15   Streaming On-Demand Total    atd  8408876
16   Streaming On-Demand Audio     tp   613442
17   Streaming On-Demand Audio     lp   712875
18   Streaming On-Demand Audio    ytd  7399138
19   Streaming On-Demand Audio    atd  7704308
20   Streaming On-Demand Video     tp    53921
21   Streaming On-Demand Video     lp    48076
22   Streaming On-Demand Video    ytd   671100
23   Streaming On-Demand Video    atd   704568

In [58]:
song_id_dict

{'top_level': ['Song w/SES On-Demand',
  'Song w/SES On-Demand',
  'Song w/SES On-Demand',
  'Song w/SES On-Demand',
  'Song w/SES On-Demand Audio',
  'Song w/SES On-Demand Audio',
  'Song w/SES On-Demand Audio',
  'Song w/SES On-Demand Audio',
  'Digital Tracks',
  'Digital Tracks',
  'Digital Tracks',
  'Digital Tracks',
  'Streaming On-Demand Total',
  'Streaming On-Demand Total',
  'Streaming On-Demand Total',
  'Streaming On-Demand Total',
  'Streaming On-Demand Audio',
  'Streaming On-Demand Audio',
  'Streaming On-Demand Audio',
  'Streaming On-Demand Audio',
  'Streaming On-Demand Video',
  'Streaming On-Demand Video',
  'Streaming On-Demand Video',
  'Streaming On-Demand Video'],
 'period': ['tp',
  'lp',
  'ytd',
  'atd',
  'tp',
  'lp',
  'ytd',
  'atd',
  'tp',
  'lp',
  'ytd',
  'atd',
  'tp',
  'lp',
  'ytd',
  'atd',
  'tp',
  'lp',
  'ytd',
  'atd',
  'tp',
  'lp',
  'ytd',
  'atd'],
 'value': [5451,
  6055,
  66334,
  69066,
  5274,
  5900,
  64198,
  66841,
  542,
  394,
  7010,
  7282,
  667363,
  760951,
  8070238,
  8408876,
  613442,
  712875,
  7399138,
  7704308,
  53921,
  48076,
  671100,
  704568]}

In [9]:
# airplay = get_chart('CHRISTIANAIRPLAY')
# on_demand_ytd = get_chart('CHRISTIANGOSPELONDEMANDAUDIOSTREAMINGYTD')
# on_demand_weekly = get_chart('CHRISTIANGOSPELONDEMANDAUDIOSTREAMINGWEEKLY')

# df_list = []

# for i in df_christian_charts['chart_key']:
#     try:
#         df_list.append(get_chart(i))

#     except Exception as E:
#         pass

# joined_df = pd.concat(df_list, 1)
# joined_df.to_excel('./christian_charts_test.xlsx')
# joined_df


df_christian_airplay = get_chart('CHRISTIANAIRPLAY')

In [10]:
df_christian_airplay

                                                    CHRISTIANAIRPLAY       \
                                                               label Rank
artist_id title_id  Song            Artist
95309     155136170 Getting Started Jeremy Camp                 SPAR    1
85561     177826997 The Goodness    Tobymac                             2
125179    169459448 Me On Your Mind Matthew West                        3
27152647  174032566 How Far         Tasha Layton                        4
171521    150195130 Hymn Of Heaven  Phil Wickham                 COL    5
...                                                              ...  ...
112782    10025732  Serious         Joy Williams                REUN  197
57573172  158940140 God Of My Story Honor & Glory                     198
17243046  167481096 Courage         Justin Gambino                    198
17374394  153423878 You Know        Bethany Barnard                   200
45461     179394416 Child Of God    Mitch Langley                     200

                                                                             \
                                                    TP Spins +/- Chg. Spins
artist_id title_id  Song            Artist
95309     155136170 Getting Started Jeremy Camp         3128            119
85561     177826997 The Goodness    Tobymac             3044             48
125179    169459448 Me On Your Mind Matthew West        2834           -169
27152647  174032566 How Far         Tasha Layton        2864            344
171521    150195130 Hymn Of Heaven  Phil Wickham        2972            -40
...                                                      ...            ...
112782    10025732  Serious         Joy Williams           1            NaN
57573172  158940140 God Of My Story Honor & Glory          6             -2
17243046  167481096 Courage         Justin Gambino         2              0
17374394  153423878 You Know        Bethany Barnard        7              1
45461     179394416 Child Of God    Mitch Langley          1              0

                                                                            \
                                                    LP Spins Stations Adds
artist_id title_id  Song            Artist
95309     155136170 Getting Started Jeremy Camp        3,009    70/72    0
85561     177826997 The Goodness    Tobymac            2,996    71/72    0
125179    169459448 Me On Your Mind Matthew West       3,003    70/72    0
27152647  174032566 How Far         Tasha Layton       2,520    70/72    0
171521    150195130 Hymn Of Heaven  Phil Wickham       3,012    69/72    0
...                                                      ...      ...  ...
112782    10025732  Serious         Joy Williams         NaN     1/72    0
57573172  158940140 God Of My Story Honor & Glory          8     3/72    0
17243046  167481096 Courage         Justin Gambino         2     1/72    0
17374394  153423878 You Know        Bethany Barnard        6     1/72    0
45461     179394416 Child Of God    Mitch Langley          1     1/72    0

                                                                 \
                                                    TP Audience
artist_id title_id  Song            Artist
95309     155136170 Getting Started Jeremy Camp         8448200
85561     177826997 The Goodness    Tobymac             7982700
125179    169459448 Me On Your Mind Matthew West        7935900
27152647  174032566 How Far         Tasha Layton        7904900
171521    150195130 Hymn Of Heaven  Phil Wickham        7203400
...                                                         ...
112782    10025732  Serious         Joy Williams           4400
57573172  158940140 God Of My Story Honor & Glory          4300
17243046  167481096 Courage         Justin Gambino         4300
17374394  153423878 You Know        Bethany Barnard        4200
45461     179394416 Child Of God    Mitch Langley          4200

                                                                       \
                                                    +/- Chg. Audience
artist_id title_id  Song            Artist
95309     155136170 Getting Started Jeremy Camp               340,000
85561     177826997 The Goodness    Tobymac                   151,100
125179    169459448 Me On Your Mind Matthew West             -488,300
27152647  174032566 How Far         Tasha Layton            1,036,200
171521    150195130 Hymn Of Heaven  Phil Wickham              -32,800
...                                                               ...
112782    10025732  Serious         Joy Williams                  NaN
57573172  158940140 God Of My Story Honor & Glory              -7,800
17243046  167481096 Courage         Justin Gambino              3,100
17374394  153423878 You Know        Bethany Barnard               300
45461     179394416 Child Of God    Mitch Langley                 300


                                                    LP Audience TP Stream
artist_id title_id  Song            Artist
95309     155136170 Getting Started Jeremy Camp       8,108,200    898274
85561     177826997 The Goodness    Tobymac           7,831,600   1197087
125179    169459448 Me On Your Mind Matthew West      8,424,200    953440
27152647  174032566 How Far         Tasha Layton      6,868,700    489621
171521    150195130 Hymn Of Heaven  Phil Wickham      7,236,200   1092901
...                                                         ...       ...
112782    10025732  Serious         Joy Williams            NaN        48
57573172  158940140 God Of My Story Honor & Glory        12,100      1300
17243046  167481096 Courage         Justin Gambino        1,200       241
17374394  153423878 You Know        Bethany Barnard       3,900      8791
45461     179394416 Child Of God    Mitch Langley         3,900         0

[201 rows x 11 columns]

In [145]:
headers = {
            'Content-Type':'application/json',
            'Authorization': tokens['access_token'],
            'x-api-key': os.environ['NIELSEN_API_TOKEN'],
            'Accept':'application/vnd.mrc-data.chart.v1.1+json',
            {
                "country": "US",
                "week_id": 202233,
                "metric": "string"
                }
        }

url = "https://api.musicconnect.mrc-data.com/api/song/169459448/data"

r = requests.get(url= url, headers=headers)

SyntaxError: ':' expected after dictionary key (3254686042.py, line 6)

In [144]:
r.text

'{"message":"Authorization header requires \'Credential\' parameter. Authorization header requires \'Signature\' parameter. Authorization header requires \'SignedHeaders\' parameter. Authorization header requires existence of either a \'X-Amz-Date\' or a \'Date\' header. Authorization=eyJraWQiOiJVM0hDbDd3Vmk0TnRGSldUV3N6LUEyS3VBUG91cEkteTVlSlE3NXdnckR3IiwiYWxnIjoiUlMyNTYifQ.eyJ2ZXIiOjEsImp0aSI6IkFULjRSWVpPME1VQ1ZGWXEwalVmbmxZTk1PQlcwMl9Mb2R4U0swZEVlNlhLdlEiLCJpc3MiOiJodHRwczovL2xvZ2luLm1yYy1kYXRhLmNvbS9vYXV0aDIvYXVzMjI1cDIzckV1RHd3bEw0eDciLCJhdWQiOiJtY2FwaSIsImlhdCI6MTY2MjA2NTA4NCwiZXhwIjoxNjYyMTUxNDg0LCJjaWQiOiIwb2EyMm0zbW83N3NVTzVRUTR4NyIsInVpZCI6IjAwdTdpcjZ4NXhJdEp1QmhxNHg3Iiwic2NwIjpbIm9wZW5pZCJdLCJhdXRoX3RpbWUiOjE2NjIwNjUwODQsInN1YiI6InNlcmdlLmthbWlsY2h1QHVtdXNpYy5jb20iLCJiZSI6IjExMjk0In0.KXzqe_EuSsCr7D3M9Gi2kEBCZdGoQzg1plrByrOIfDJJM64Bxaj8jFKSkFXSLvAGjieQEeIZDi83sV3d_MmT9tWeDnGQyRQbqrKflnhhz_H0gQYiAAUDFy_Ks38Hp0kOAqhCB6cLRd-ed79ExWMCifNjl2LD0KnINRwdt9-oJj65ihOWnwJu5Cbv5dI-uCoUj4RiABaloXZAfnPwwfA_iGrzRxBLFUqwoiJHjuOKX9gbYn-t_D9-HDGDk76Kf8qZxzazggL3HYGcpF575GMDcAzP43dx0aWo9gyW1Acix-mMDT5YuQw9psyfWNJ0XGNkJh4FjytswBGGzmBJWkxFEg"}'

In [93]:
# ON DEMAND AUDIO
headers = {
            'Content-Type':'application/json',
            'Authorization': tokens['access_token'],
            'x-api-key': os.environ['NIELSEN_API_TOKEN'],
            'Accept':'application/vnd.mrc-data.chart.v1+json'
        }
        
url = 'https://api.musicconnect.mrc-data.com/api/chart/data/CHRISTIANGOSPELONDEMANDAUDIOSTREAMINGYTD'

r = requests.post(url= url, headers=headers)
df = pd.DataFrame([pd.Series(row) for row in r.json()])

on_demand_audio = {}

for k, v in df.iteritems():
    # print(k)
    if k == 'title_id' or k == 'artist_id':
        on_demand_audio[k] = v
    if k == 'metrics':
        for i in v:
            for k in i:
                if not on_demand_audio.__contains__(k['name']):
                    on_demand_audio[k['name']] = [k['value']]
                else:
                    on_demand_audio[k['name']].append(k['value'])

on_demand_audio = pd.DataFrame(on_demand_audio)

In [96]:
df['metrics'][0]

[{'name': 'Rank', 'value': 1},
 {'name': 'Song', 'value': 'You Say'},
 {'name': 'Artist', 'value': 'Lauren Daigle'},
 {'name': 'Label', 'value': '12CM'},
 {'name': 'Label Description', 'value': 'CENTRICITY MUSI'},
 {'name': 'Peak Position', 'value': 1},
 {'name': 'Last Week Rank', 'value': 1},
 {'name': 'Last 2 Week Rank', 'value': 1},
 {'name': 'Weeks On Chart', 'value': 212},
 {'name': 'YTD Audio', 'value': 63115004},
 {'name': 'ATD Audio', 'value': 550541741}]

In [59]:
pd.json_normalize(
    pd.DataFrame([pd.Series(row) for row in r.json()])[['title_id', 'artist_id', 'label', 'metrics']],
    record_path=None, meta=None, 
meta_prefix=None, record_prefix=None, errors='coerce', sep='.'
    
    )

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

,title_id,artist_id,label,metrics
0,169459448,125179,,"[{'name': 'Rank', 'value': 1}, {'name': 'Song'..."
1,155136170,95309,SPAR,"[{'name': 'Rank', 'value': 2}, {'name': 'Song'..."
2,169306078,219952,,"[{'name': 'Rank', 'value': 3}, {'name': 'Song'..."
3,177826997,85561,,"[{'name': 'Rank', 'value': 4}, {'name': 'Song'..."
4,150195130,171521,COL,"[{'name': 'Rank', 'value': 5}, {'name': 'Song'..."
...,...,...,...,...
195,176752203,106132,,"[{'name': 'Rank', 'value': 195}, {'name': 'Son..."
196,172356465,87837,,"[{'name': 'Rank', 'value': 197}, {'name': 'Son..."
197,153423878,17374394,,"[{'name': 'Rank', 'value': 198}, {'name': 'Son..."
198,179394416,45461,,"[{'name': 'Rank', 'value': 198}, {'name': 'Son..."
199,136326430,12977791,DREM,"[{'name': 'Rank', 'value': 198}, {'name': 'Son..."

In [39]:
pd.DataFrame([pd.Series(row) for row in r.json()])['metrics'][0]

[{'name': 'Rank', 'value': 1},
 {'name': 'Song', 'value': 'Me On Your Mind'},
 {'name': 'Artist', 'value': 'Matthew West'},
 {'name': 'TP Spins', 'value': 2956},
 {'name': '+/- Chg. Spins', 'value': -111},
 {'name': 'LP Spins', 'value': 3067},
 {'name': 'Stations', 'value': '69/71'},
 {'name': 'Adds', 'value': 0},
 {'name': 'TP Audience', 'value': 8173400},
 {'name': '+/- Chg. Audience', 'value': -170400},
 {'name': 'LP Audience', 'value': 8343800},
 {'name': 'TP Stream', 'value': 913181}]

In [8]:
# r.json()

headers = {
            'Content-Type':'application/json',
            'Authorization': tokens['access_token'],
            'x-api-key': os.environ['NIELSEN_API_TOKEN'],
            'Accept':'application/vnd.mrc-data.chart.v1+json',
            # 'Date'
        }

url = 'https://api.musicconnect.mrc-data.com/api/chart/options/MARKET/CA'

r = requests.get(url= url, headers=headers)

In [9]:
r.json()

[{'filter_name': 'National', 'filter_code': 0},
 {'filter_name': "St.John's - Newfoundland", 'filter_code': 253},
 {'filter_name': 'Other - Newfoundland', 'filter_code': 254},
 {'filter_name': 'Sydney - Nova Scotia', 'filter_code': 255},
 {'filter_name': 'Halifax - Nova Scotia', 'filter_code': 256},
 {'filter_name': 'Other - Nova scotia', 'filter_code': 257},
 {'filter_name': 'Charlottetown - Prince-Edward-Island', 'filter_code': 258},
 {'filter_name': 'Other - Prince-Edward-Island', 'filter_code': 259},
 {'filter_name': 'Moncton - New Brunswick', 'filter_code': 260},
 {'filter_name': 'Saint John - New Brunswick', 'filter_code': 261},
 {'filter_name': 'Fredericton - New Brunswick', 'filter_code': 262},
 {'filter_name': 'Other - New Brunswick', 'filter_code': 263},
 {'filter_name': 'Quebec - Quebec East', 'filter_code': 264},
 {'filter_name': 'Chicoutimi-Jonquiere - Quebec East', 'filter_code': 265},
 {'filter_name': 'Trois-Rivieres - Quebec East', 'filter_code': 266},
 {'filter_name': 'Shawinigan - Quebec East', 'filter_code': 267},
 {'filter_name': 'Montreal Subs - Montreal', 'filter_code': 268},
 {'filter_name': 'Other Eastern Quebec - Quebec East', 'filter_code': 269},
 {'filter_name': 'Montreal Metro - Montreal', 'filter_code': 270},
 {'filter_name': 'Sherbrooke - Quebec West', 'filter_code': 271},
 {'filter_name': 'Drummondville - Quebec West', 'filter_code': 272},
 {'filter_name': 'Granby - Quebec West', 'filter_code': 273},
 {'filter_name': 'Saint-Hyacinthe - Quebec West', 'filter_code': 274},
 {'filter_name': 'Saint-Jean-sur-Richelieu - Quebec West', 'filter_code': 275},
 {'filter_name': 'Saint-Jerome - Quebec West', 'filter_code': 276},
 {'filter_name': 'Ottawa-Hull - Quebec West', 'filter_code': 277},
 {'filter_name': 'Other Western Quebec - Quebec West', 'filter_code': 278},
 {'filter_name': 'Cornwall - Ontario East', 'filter_code': 279},
 {'filter_name': 'Kingston - Ontario East', 'filter_code': 280},
 {'filter_name': 'Belleville - Ontario East', 'filter_code': 281},
 {'filter_name': 'Peterborough - Ontario East', 'filter_code': 282},
 {'filter_name': 'Other Eastern Ontario - Ontario East', 'filter_code': 283},
 {'filter_name': 'Oshawa - Central Ontario', 'filter_code': 284},
 {'filter_name': 'Toronto Metro - Toronto', 'filter_code': 285},
 {'filter_name': 'Barrie - Central Ontario', 'filter_code': 286},
 {'filter_name': 'Hamilton - Central Ontario', 'filter_code': 287},
 {'filter_name': 'St.Catharines-Niagara - Central Ontario',
  'filter_code': 288},
 {'filter_name': 'Other Central Ontario - Central Ontario',
  'filter_code': 289},
 {'filter_name': 'Toronto Subs - Toronto', 'filter_code': 290},
 {'filter_name': 'Kitchener - South West Ontario', 'filter_code': 291},
 {'filter_name': 'Guelph - South West Ontario', 'filter_code': 292},
 {'filter_name': 'Brantford - South West Ontario', 'filter_code': 293},
 {'filter_name': 'London - South West Ontario', 'filter_code': 294},
 {'filter_name': 'Sarnia-Clearwater - South West Ontario', 'filter_code': 295},
 {'filter_name': 'Windsor - South West Ontario', 'filter_code': 296},
 {'filter_name': 'Other South West Ontario - South West Ontario',
  'filter_code': 297},
 {'filter_name': 'North Bay - North Ontario', 'filter_code': 298},
 {'filter_name': 'Sudbury - North Ontario', 'filter_code': 299},
 {'filter_name': 'Sault Ste. Marie - North Ontario', 'filter_code': 300},
 {'filter_name': 'Thunder Bay - North Ontario', 'filter_code': 301},
 {'filter_name': 'Other North Ontario - North Ontario', 'filter_code': 302},
 {'filter_name': 'Winnipeg - Manitoba', 'filter_code': 303},
 {'filter_name': 'Other - Manitoba', 'filter_code': 304},
 {'filter_name': 'Regina - Saskatchewan', 'filter_code': 305},
 {'filter_name': 'Saskatoon - Saskatchewan', 'filter_code': 306},
 {'filter_name': 'Other - Saskatchewan', 'filter_code': 307},
 {'filter_name': 'Edmonton - Alberta', 'filter_code': 308},
 {'filter_name': 'Medicine Hat - Alberta', 'filter_code': 309},
 {'filter_name': 'Calgary - Alberta', 'filter_code': 310},
 {'filter_name': 'Lethbridge - Alberta', 'filter_code': 311},
 {'filter_name': 'Red Deer - Alberta', 'filter_code': 312},
 {'filter_name': 'Other - Alberta', 'filter_code': 313},
 {'filter_name': 'Kamloops - British Columbia', 'filter_code': 314},
 {'filter_name': 'Kelowna - British Columbia', 'filter_code': 315},
 {'filter_name': 'Chilliwack - British Columbia', 'filter_code': 316},
 {'filter_name': 'Matsqui - British Columbia', 'filter_code': 317},
 {'filter_name': 'Vancouver - British Columbia', 'filter_code': 318},
 {'filter_name': 'Nanaimo - British Columbia', 'filter_code': 319},
 {'filter_name': 'Victoria - British Columbia', 'filter_code': 320},
 {'filter_name': 'Prince George - British Columbia', 'filter_code': 321},
 {'filter_name': 'Other British Columbia - British Columbia',
  'filter_code': 322},
 {'filter_name': 'Ottawa - Ontario East', 'filter_code': 323},
 {'filter_name': 'Others', 'filter_code': 324}]

In [ ]:
r.close()

In [ ]:


# for i in r.json():
#     s = pd.Series(i)