In [1]:

import os
from nielsen_api_tools import nielsen_api
import pandas_gbq
import requests
import pandas as pd
import numpy as np
# import win32com.client as win32
from pathlib import Path
from datetime import datetime
import csv
import xlsxwriter
from xlsxwriter.utility import xl_col_to_name
# from sqlalchemy import create_engine
pd.options.display.float_format = '{:.2f}'.format

pd.set_option("display.precision", 2)

# pd.set_option("styler.format.thousands", ",")

# pd.set_option("display.max_rows", None)

# pd.set_option("display.max_columns", None)

# api_key = "YdZUpwFLPeDu590wKigQkaEh24mrO24Jeh6HJ310"
# username = "serge.kamilchu@umusic.com"
# password = 'Chainomeme1!'


api_key = "YNSTeozZP99BsrTsoN0Ly9uy78lQdpKu3KoiRILa"
username = "apiusermc.universalmusic@umusic.com"
password = "zYhyiJq1dkPP"

In [16]:

current_date = datetime.now().strftime('%Y-%m-%d')

weeks = pandas_gbq.read_gbq(
    """
        SELECT day, week FROM `umg-finance.metadata.day`
    """,
    project_id='umg-us'
    )
weeks['day'] = pd.to_datetime(weeks['day']).dt.strftime('%Y-%m-%d')
weeks_dict = weeks.set_index('day')['week'].to_dict()
current_global_week = weeks_dict[current_date] - 1

Downloading: 100%|██████████| 10421/10421 [00:00<00:00, 16044.18rows/s]

In [19]:
weeks.tail(10)

              day    week
10411  2022-09-21  202238
10412  2022-09-24  202238
10413  2022-09-23  202238
10414  2022-09-30  202239
10415  2022-10-01  202239
10416  2022-09-27  202239
10417  2022-09-28  202239
10418  2022-09-26  202239
10419  2022-09-25  202239
10420  2022-09-29  202239

In [17]:
current_global_week

202238

In [3]:
# AUTHORIZE

headers = {"Content-Type": "application/x-www-form-urlencoded", "x-api-key": api_key}
payload = {"username":username, 'password': password}

url = "https://api.musicconnect.mrc-data.com/auth"
r = requests.post(
    url= url, 
    headers=headers, 
    data=payload
)

access_token = r.json()['access_token']
access_token

'eyJraWQiOiJVM0hDbDd3Vmk0TnRGSldUV3N6LUEyS3VBUG91cEkteTVlSlE3NXdnckR3IiwiYWxnIjoiUlMyNTYifQ.eyJ2ZXIiOjEsImp0aSI6IkFULng4ZUE4MTd5ZENtLTF0aWlXRnp6SzRZM1pPX3F3S1pwNHVNSUJHVF9WZ1kiLCJpc3MiOiJodHRwczovL2xvZ2luLm1yYy1kYXRhLmNvbS9vYXV0aDIvYXVzMjI1cDIzckV1RHd3bEw0eDciLCJhdWQiOiJtY2FwaSIsImlhdCI6MTY2NDI5MTg3NiwiZXhwIjoxNjY0Mzc4Mjc2LCJjaWQiOiIwb2EyMm0zbW83N3NVTzVRUTR4NyIsInVpZCI6IjAwdTI3dDI5b3poaFZUcGJ0NHg3Iiwic2NwIjpbIm9wZW5pZCJdLCJhdXRoX3RpbWUiOjE2NjQyOTE4NzUsInN1YiI6ImFwaXVzZXJtYy51bml2ZXJzYWxtdXNpY0B1bXVzaWMuY29tIiwiYmUiOiIxMTI5NCJ9.orw49LRrftL7lrriPUVEPTqE5cnHgwE5oz9nzZ5GuEKPJe-0F39PyJTgv6KBBBPw9K7jqAK163nb6RWTBVR40E8v5_MsJnNLE9qad5FmxuO1xNjYEYislthmiOTQdI99IDPj-0_LDb95vB0BNtMegkKLwFwW6mZKtH9E83CBT2uZt48ENlmFlYRNB2BS50fFfTZwZldegdEWaFH8eLT95DZpCoaCfIdotpkVM2gAOqFNx8OWlMaZ3kZKReOmJLaguuFKHbRpu0y_BpMH4pfZoBmCSk_8ViF6vzVk_8_wQUr0S8GhAj65J_pEw3iPmG2cE-xNKNGtpr9smseq2ou_uA'

In [4]:
# chart list header
headers = {
            'Content-Type':'application/json',
            'Authorization': access_token,
            'x-api-key': api_key,
            'Accept':'application/vnd.mrc-data.chart.v1.1+json'
        }

url = "https://api.musicconnect.mrc-data.com/api/chart/list?country=ALL"

r = requests.get(url= url, headers=headers)

df = pd.DataFrame([pd.Series(row) for row in r.json()])
df_christian_charts = df[df.chart_name.str.contains('Christian')]
df_christian_charts

# df

,chart_name,chart_key,country,frequency,start_week_id,available_filters
53,Christian Airplay,CHRISTIANAIRPLAY,[US],weekly,201201,NaN
54,Christian Albums,CHRISTIANALBUMS,[CA],weekly,201201,NaN
55,Christian/Gospel On-Demand Audio Streaming (YTD),CHRISTIANGOSPELONDEMANDAUDIOSTREAMINGYTD,"[US, CA]",weekly,201201,NaN
56,Christian/Gospel On-Demand Audio Streaming (we...,CHRISTIANGOSPELONDEMANDAUDIOSTREAMINGWEEKLY,"[US, CA]",weekly,201201,NaN
57,Christian/Gospel On-Demand Overall Streaming (...,CHRISTIANGOSPELONDEMANDOVERALLSTREAMINGYTD,"[US, CA]",weekly,201201,NaN
58,Christian/Gospel On-Demand Overall Streaming (...,CHRISTIANGOSPELONDEMANDOVERALLSTREAMINGWEEKLY,"[US, CA]",weekly,201201,NaN
59,Christian/Gospel Songs Core Genre,CHRISTIANGOSPELSONGSCOREGENRE,"[US, CA]",weekly,201201,NaN
281,Top Christian/Gospel Albums,BILLBOARDTOPCHRISTIANGOSPELALBUMS,[US],weekly,201201,NaN

In [66]:
import json


headers = {
            'Content-Type':'application/json',
            'Authorization': access_token,
            'x-api-key': api_key,
            'Accept':'application/vnd.mrc-data.chart.v1+json'
        }
        
url = f'https://api.musicconnect.mrc-data.com/api/chart/data/CHRISTIANAIRPLAY'

data = {
#   "country": "",
#   "genre_code": 0,
#   "market_code": 0,
#   "metric_code": 0,
  "week_id": 202239
}

r = requests.post(url= url, headers=headers, data=json.dumps(data))

# print(r.json())

r.json()

# json.dumps(data)

{'message': ["Invalid WeekId :: Invalid 'WeekId' parameter value: 202239. Must be in range: [201201-202238]"],
 'status_code': '400 BAD_REQUEST'}

In [53]:
# df = get_chart('CHRISTIANAIRPLAY')

In [67]:
def get_chart(chart_key, data:dict):

    headers = {
                'Content-Type':'application/json',
                'Authorization': access_token,
                'x-api-key': api_key,
                'Accept':'application/vnd.mrc-data.chart.v1+json'
            }
            
    url = f'https://api.musicconnect.mrc-data.com/api/chart/data/{chart_key}'


    r = requests.post(url=url, headers=headers, data=json.dumps(data))
    print(r.json())
    

    if r.status_code == 200:

        df = pd.DataFrame([pd.Series(row) for row in r.json()])

        dict_for_df = {}

        for k, v in df.iteritems():
            # print(k)
            if k == 'title_id' or k == 'artist_id' or k == 'label':
                dict_for_df[k] = v
            if k == 'metrics':
                for i in v:
                    for k in i:
                        if not dict_for_df.__contains__(k['name']):
                            dict_for_df[k['name']] = [k['value']]
                        else:
                            dict_for_df[k['name']].append(k['value'])

        df = pd.DataFrame(dict_for_df).set_index(['title_id'])

        df.columns = pd.MultiIndex.from_product([[chart_key.lower()], df.columns.str.lower()])


        # print(df.shape)

        return df.head(100)

    # print(r.text)

    # print(f'{chart_key}: {r}')

In [6]:
def get_data_by_title_id(title_id):

  # GET ARTIST META DATA BY Neilsen ID

  headers = {
    'Content-Type':'application/json',
    'Authorization': access_token,
    'x-api-key': api_key,
    # 'Accept':'application/vnd.mrc-data.chart.v1.1+json'
  }

  url = f"https://api.musicconnect.mrc-data.com/api/song/{title_id}/data"
  r = requests.post(
    url= url, 
    headers=headers, 
  )

  title_id_dict = {
    'title_id': [],
    'top_level': [],
    'period': [],
    'value': []
  }

  
  for list_i in r.json()['metrics']:
    # print(list_i['name'])

    for i, list_k in enumerate(list_i['value']):
        # print(i, list_k)
        title_id_dict['title_id'].append(title_id)
        title_id_dict['top_level'].append(list_i['name'].lower())

        for k, v in list_k.items():
            # print(k, v)
            
            if k == 'name':
                title_id_dict['period'].append(v)
            elif k == 'value':
                title_id_dict['value'].append(v)


  df_row = pd.DataFrame(title_id_dict).pivot_table(index='title_id', columns=['top_level', 'period'], values='value', aggfunc='first')

  return df_row

In [68]:
data = {
#   "country": "",
#   "genre_code": 0,
#   "market_code": 0,
#   "metric_code": 0,
  "week_id": 202239
}

df = get_chart(
  'CHRISTIANAIRPLAY', 
  data=data
  )
# df.shape
df

{'message': ["Invalid WeekId :: Invalid 'WeekId' parameter value: 202239. Must be in range: [201201-202238]"], 'status_code': '400 BAD_REQUEST'}

In [8]:
df.head()

          christianairplay                                   \
                 artist_id label rank                  song
title_id
177826997            85561          1          The Goodness
174032566         27152647          2               How Far
155136170            95309  SPAR    3       Getting Started
177482570         62016067          4  God Is In This Story
172154680            83651          5                Always

                                                                            \
                                   artist tp spins +/- chg. spins lp spins
title_id
177826997                         Tobymac     3285          -2.00  3287.00
174032566                    Tasha Layton     3031          47.00  2984.00
155136170                     Jeremy Camp     2860        -140.00  3000.00
177482570  Katy Nichole & Big Daddy Weave     2623          70.00  2553.00
172154680                    Chris Tomlin     2244         -60.00  2304.00


          stations adds tp audience +/- chg. audience lp audience tp stream
title_id
177826997    71/72    0     7964300        -153000.00  8117300.00   1131958
174032566    70/72    0     7735100        -242400.00  7977500.00    948011
155136170    69/72    0     7444400        -470700.00  7915100.00    855169
177482570    69/72    0     6521300         -63000.00  6584300.00   1148447
172154680    61/72    0     5757500        -336700.00  6094200.00   1076698

In [9]:
df_title_id_data = pd.DataFrame()

for i, (k, v) in enumerate(df.iterrows()):
    # print(i)
    try:
        df_title_id_data = pd.concat([df_title_id_data, get_data_by_title_id(k)])
        print(f'{i}: {v[3]} {v[4]}')
    except KeyError as E:
        print(f'title_id: {k}, song: {v[3]}, artist: {v[4]}\n ERROR:{E}\n\n')

0: The Goodness Tobymac
1: How Far Tasha Layton
2: Getting Started Jeremy Camp
3: God Is In This Story Katy Nichole & Big Daddy Weave
4: Always Chris Tomlin
5: Hymn Of Heaven Phil Wickham
6: Me On Your Mind Matthew West
7: Who I Am Ben Fuller
8: Build A Boat Colton Dixon
9: Fill My Cup Andrew Ripp
10: Same God Elevation Worship Feat. Jonsal Barrientes
11: New Creation Mac Powell
12: Perfectly Loved Rachael Lampa Feat. Tobymac
13: Thank God For Sunday Morning Cochren & Co.
14: Good Lord David Leonard
title_id: 180232432, song: Don't Lose Heart, artist: Steven Curtis Chapman
 ERROR:'metrics'


16: We All Need Jesus Danny Gokey W/ Koryn Hawthorne
17: Heart Of God Zach Williams
18: Miracle Power We The Kingdom
19: God Really Loves Us Crowder & Dante Bowe Feat. Maverick City Music
20: Then Christ Came MercyMe
21: Good Morning Mercy Jason Crabb
22: Love Me Like I Am for King & Country
23: All My Praise Ryan Ellis
24: I'Ve Got Joy Cece Winans
25: Joy In The Morning Tauren Wells
26: There Is Freedom Josh Baldwin
27: Ain't Nobody Cody Carnes
28: Won't Let Me Go Sanctus Real W/ Francesca Battistelli
29: I See Grace Micah Tyler
30: I'm So Blessed CAIN
31: Gratitude Brandon Lake
32: Soul Worth Saving Apollo Ltd
33: No Matter What Jordan St. Cyr
title_id: 178646002, song: Authority (In The Name Of Jesus), artist: Stars Go Dim
 ERROR:'metrics'


35: How You Love Me Patrick Mayberry
36: If The Lord Builds The House Hope Darst
37: Let The Light In Joshua Micah X Owl City
38: LION Elevation Worship Feat. Chris Brown & Brandon Lake
39: Plans Rend Collective
40: Rest On Us Elle Limebear
41: This Is My Song North Point Worship, Mac Powell & Heath Balltzglier
42: I Speak Jesus Newsboys
43: Church Evvie Mckinney
44: Hey Girl Anne Wilson
45: What I'm Waiting For Doe
46: Shackles (Praise You) Coby James & Evvie Mckinney
47: Coming Back Thrive Worship
48: I Cry Jesus Ryan Stevenson
49: Desert Road Casting Crowns
50: Just As Good Chris Renzema Feat. Ellie Holcomb
51: Believe Blessing Offor
52: My Story Your Glory Matthew West
53: Everything And More Citizens
54: Now Here Red Rocks Worship
55: What He's Done Passion Feat. Kristian Stanfill, Tasha Cobbs Leonard & Anna Golden
56: Thank You Ben Rector
57: Goodness Of God Rhett Walker
58: I'Ll Fight For You Britt Nicole
59: I Believe (Live) Jonathan David & Melissa Helser
60: Arms Of Jesus Cade Thompson
61: Hands Aaron Cole
62: Good Mood Richlin
63: Yahweh (No One) Chris Tomlin & Elevation Worship
64: On And On Canyon Hills Worship
65: I Know You Can PlanetShakers
66: Rest In The Father Stephen Stanley
67: Faithful Erik Nieder
68: Nail Scarred Hands Dante Bowe
69: Without Your Love Abby Robertson
70: Make Room Meredith Andrews, Sarah Reeves & Chris Mcclarney
71: Living Water Shane & Shane
72: Source Landry Cantrell
73: Perfection Switch
74: First Things First Consumed By Fire
75: Where I'm Standing Now Phil Wickham Feat. Brandon Lake
76: It's About Time Kevin Quinn
77: Miracle In The Works Bryan & Katie Torwalt
78: When I Say Yes Jason Gray
79: Oh But God Davy Flowers
80: Fear Is Not My Future Maverick City Music X Kirk Franklin Feat. Brandon Lake & Chandler Moore
81: Firm Foundation (He Won't) Cody Carnes
82: Look What God Has Done Love & The Outcome
83: Glory I Couldn'T See Mike Donehey
84: Into The Wild Josh Baldwin
85: Healer Casting Crowns
86: That's The Power Hillsong Worship Feat. Benjamin Hastings
87: Homecoming (Live) Bethel Music, Cory Asbury & Gable Price
88: Rest For Your Soul Austin French
89: Rooftops Kurtis Hoppie
90: We Praise You Brandon Lake
91: Love Won't Let Go Branan Murphy
92: The Heat Stephen Stanley
93: On Repeat Hillsong United
94: Rest On Us Maverick City Music & Upperroom Feat. Brandon Lake & Eniola Abioye
95: By Faith 7eventh Time Down
96: Human Nature Brandon Heath
97: Source Of Life Cade Thompson
98: Every Victory The Belonging Co. & Danny Gokey
99: I Thank God Maverick City Music & Upperroom Feat. Dante Bowe, Aaron Moses, Maryanne J. George & Chuck Butler

In [20]:


out_path = Path(f'./outputs/{current_global_week}_luminate_christian_radio.xlsx').absolute()

df_1 = pd.concat([df, df_title_id_data], 1)
df_1.head()

/var/folders/pt/rv01sjh565lb0y7mf7njvdr80000gq/T/ipykernel_3623/198660970.py:3: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only.
  df_1 = pd.concat([df, df_title_id_data], 1)

          christianairplay                                   \
                 artist_id label rank                  song
title_id
177826997            85561          1          The Goodness
174032566         27152647          2               How Far
155136170            95309  SPAR    3       Getting Started
177482570         62016067          4  God Is In This Story
172154680            83651          5                Always

                                                                            \
                                   artist tp spins +/- chg. spins lp spins
title_id
177826997                         Tobymac     3285          -2.00  3287.00
174032566                    Tasha Layton     3031          47.00  2984.00
155136170                     Jeremy Camp     2860        -140.00  3000.00
177482570  Katy Nichole & Big Daddy Weave     2623          70.00  2553.00
172154680                    Chris Tomlin     2244         -60.00  2304.00

                         ... streaming on-demand audio              \
          stations adds  ...                        tp         ytd
title_id                 ...
177826997    71/72    0  ...                 810478.00 10362020.00
174032566    70/72    0  ...                 759350.00  5220900.00
155136170    69/72    0  ...                 657609.00  9291564.00
177482570    69/72    0  ...                 808408.00  6613311.00
172154680    61/72    0  ...                 823099.00  8845012.00

          streaming on-demand total                                   \
                                atd         lp        tp         ytd
title_id
177826997               11617878.00 1063589.00 919120.00 11617878.00
174032566                5357137.00  754600.00 778682.00  5357137.00
155136170               10466041.00  701733.00 713515.00 10127403.00
177482570                7130191.00  924799.00 865038.00  7130191.00
172154680                9202823.00  892056.00 841512.00  9202823.00

          streaming on-demand video
                                atd        lp        tp        ytd
title_id
177826997                1255858.00 104228.00 108642.00 1255858.00
174032566                 136237.00  17658.00  19332.00  136237.00
155136170                 869307.00  55596.00  55906.00  835839.00
177482570                 516880.00  52244.00  56630.00  516880.00
172154680                 357811.00  20545.00  18413.00  357811.00

[5 rows x 38 columns]

In [21]:
df_final = (
    df_1
    .drop(df_1.columns[[0]], axis=1)
    .set_index([('christianairplay', 'rank'), ('christianairplay', 'label'),  ('christianairplay', 'artist'),  ('christianairplay', 'song')], drop=True)
    )

for value in df_final.columns.get_level_values(0).unique():
    if value == 'christianairplay':
        # remove uneeded columns from chart df
        df_final[(value,'% change audience')] = df_final.loc[:, [(value, 'lp audience'), (value, 'tp audience')]].pct_change(axis=1).loc[:, (value, 'tp audience')].replace([np.inf, -np.inf], 1)
        df_final.drop(columns=[
            ('christianairplay', 'tp spins'),
            ('christianairplay', '+/- chg. spins'),
            ('christianairplay', 'lp spins'),
            ('christianairplay', 'stations'),
            ('christianairplay', 'adds'),
            ('christianairplay', 'lp audience'),
            ('christianairplay', '+/- chg. audience'),
            ], 
            inplace=True)
 
    else:
        # remove unneeded columns from chart artist consumption data
        df_final[(value,'% change')] = df_final.loc[:, [(value, 'lp'), (value, 'tp')]].pct_change(axis=1).loc[:, (value, 'tp')].replace([np.inf, -np.inf], 1)
        df_final.drop(columns=[
            (value, 'lp'),
            (value, 'atd'), 
            (value, 'ytd')
            ], inplace=True)
        # df_final[(value, 'lp')] = df_final[(value, 'lp')].fillna(0).astype(int)
        df_final[(value, 'tp')] = df_final[(value, 'tp')].fillna(0).astype(int)

df_final = df_final.reset_index()

In [22]:
col_order = (
    ('christianairplay', 'artist'),
    ('christianairplay', 'song'),
    ('christianairplay', 'rank'),
    # ('christianairplay', 'label'),
    ('christianairplay', 'tp audience'),
    ('christianairplay', '% change audience'),  
    ('song w/ses on-demand', 'tp'),
    ('song w/ses on-demand', '% change'),
    # ('song w/ses on-demand audio', 'tp'),
    # ('song w/ses on-demand audio', '% change'),
    ('streaming on-demand audio', 'tp'),
    ('streaming on-demand audio', '% change'),
    ('streaming on-demand video', 'tp'),
    ('streaming on-demand video', '% change'),
    ('streaming on-demand total', 'tp'),
    ('streaming on-demand total', '% change'),
    # ('christianairplay', 'tp stream'),
    ('digital tracks', 'tp'),
    ('digital tracks', '% change'),
)

# sort columns
df_final = df_final.reindex(columns=pd.MultiIndex.from_tuples(col_order))
df_final = df_final.fillna(0)

format_columns = [
    'ARTIST',
    'SONG',
    'BDS AIRPLAY CHART RANK',
    'AUDIENCE',
    'AUDIENCE CHANGE',
    'CONSUMPTION',
    'CONSUMPTION CHANGE',
    'AUDIO STREAMS',
    'AUDIO STREAMS CHANGE',
    'VIDEO STREAMS',
    'VIDEO STREAMS CHANGE',
    'TOTAL STREAMS',
    'TOTAL STREAMS CHANGE',
    'DIGITIAL TRACKS',
    'DIGITIAL TRACKS CHANGE'
    ]


df_final_1 = df_final.droplevel(axis=1, level=0)

df_final_1.columns = format_columns

In [24]:
sheet_name = 'radio_report'

workbook = xlsxwriter.Workbook(str(out_path))

# df_final_1.to_excel(writer, sheet_name=sheet_name, index=False, freeze_panes=(1, 2))
worksheet = workbook.add_worksheet(sheet_name)

font_style = 'Consolas'
header_format = workbook.add_format({'bold': True, 'align': 'left', 'font_size': 14, 
# 'border': 2,
'font_name': font_style, 'text_wrap': True, 'align': 'center'})

format_number = workbook.add_format({'font_name': font_style, 'font_size': 13, 'num_format': '#,##0'})
format_percent = workbook.add_format({
    'num_format': '0%;-0%;0%',
    'font_name': font_style, 
    'font_size': 13,
    })
format_percent_neg = workbook.add_format({
    'num_format': '0%;-0%;0%',
    'font_name': font_style, 
    'font_size': 13,
    'bg_color':   '#FFC7CE',
    'font_color': '#9C0006'
    })
format_percent_pos = workbook.add_format({
    'num_format': '0%;-0%;0%',
    'font_name': font_style, 
    'font_size': 13,
    'bg_color':   '#C6EFCE',
    'font_color': '#006100'
    })
format_text = workbook.add_format({'font_name': font_style, 'font_size': 13})

df_tolist = df_final_1.values.tolist()
df_tolist.insert(0, df_final_1.columns.tolist())

for i_x, row in enumerate(df_tolist):
    for i_y, value in enumerate(row):
        if i_x == 0:
            worksheet.write(i_x, i_y, value, header_format)
            # worksheet.freeze_panes(row=0, col=i_y)

        # elif i_y in [0, 1]:
        #     worksheet.freeze_panes(row=i_x, col=i_y)
        worksheet.write(i_x, i_y, value)

cols_minus_freeze_panes = [i for i in range(df_final_1.shape[1])][2:]

for i in cols_minus_freeze_panes:
    if i % 2 == 1:
        # number columns
        worksheet.set_column(
            f'{xl_col_to_name(i)}:{xl_col_to_name(i)}', 
            width=20, 
            cell_format=format_number
            )
    elif i == 2:
        # rank column
        worksheet.set_column(
            f'{xl_col_to_name(i)}:{xl_col_to_name(i)}', 
            width=11, 
            cell_format=format_number
            )
    else:
        # percent change columns
        worksheet.set_column(
            f'{xl_col_to_name(i)}:{xl_col_to_name(i)}', 
            width=15, 
            cell_format=format_percent
            )
        worksheet.conditional_format(f'{xl_col_to_name(i)}2:{xl_col_to_name(i)}101', {'type': 'cell','criteria': '>=','value': 0,'format':format_percent_pos})

        worksheet.conditional_format(f'{xl_col_to_name(i)}2:{xl_col_to_name(i)}101', {'type': 'cell','criteria': '<','value': 0,'format':format_percent_neg})
        




worksheet.add_table(
    f"A1:O{df_final_1.shape[0]+1}", {
        'header_row': True,
        'autofilter': False,
        'banded_rows': False,
        'columns': [{'header': col} for col in df_final_1.columns]
    }
)

# # set freeze panes 
worksheet.freeze_panes(1, 1)

# # artist song column set
worksheet.set_column('A:B', width=50, cell_format=format_text)

# set header row
worksheet.set_row(0, cell_format = header_format, height=75)

workbook.close()

# Emailer

In [21]:
from appscript import app, k
from mactypes import Alias
from pathlib import Path

def create_message_with_attachment():
    subject = f'{current_global_week} Global Week Radio Report'
    body = ''
    to_recip = ['serge.kamilchu@umusic.com']

    msg = Message(subject=subject, body=body, to_recip=to_recip, cc_recip=['serge.kamilchu@umusic.com'])

    # attach file
    p = str(out_path)
    msg.add_attachment(p)

    msg.show()

class Outlook(object):
    def __init__(self):
        self.client = app('Microsoft Outlook')

class Message(object):
    def __init__(self, parent=None, subject='', body='', to_recip=[], cc_recip=[], show_=True):

        if parent is None: parent = Outlook()
        client = parent.client

        self.msg = client.make(
            new=k.outgoing_message,
            with_properties={k.subject: subject, k.content: body})

        self.add_recipients(emails=to_recip, type_='to')
        self.add_recipients(emails=cc_recip, type_='cc')

        if show_: self.show()

    def show(self):
        self.msg.open()
        self.msg.activate()

    def add_attachment(self, p):
        # p is a Path() obj, could also pass string

        p = Alias(str(p)) # convert string/path obj to POSIX/mactypes path

        attach = self.msg.make(new=k.attachment, with_properties={k.file: p})

    def add_recipients(self, emails, type_='to'):
        if not isinstance(emails, list): emails = [emails]
        for email in emails:
            self.add_recipient(email=email, type_=type_)

    def add_recipient(self, email, type_='to'):
        msg = self.msg

        if type_ == 'to':
            recipient = k.to_recipient
        elif type_ == 'cc':
            recipient = k.cc_recipient

        msg.make(new=recipient, with_properties={k.email_address: {k.address: email}})

In [22]:
create_message_with_attachment()

# Sylvester, David <David.Sylvester@umusic.com>; Rodgers, Kenny <Kenny.Rodgers@umusic.com>; Brock, Elizabeth <Elizabeth.Brock@umusic.com>; Monnaco, Carlos <Carlos.Monnaco@umusic.com>